html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

    font-size: 1.1rem;
    font-family: "Charm", cursive;

    background-color: var(--bg);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

button,
input,
textarea,
select {
    font: inherit;
}
