.home-subtitle {
    letter-spacing: 3px;
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    margin-bottom: .25rem;
}
.penutup-section {
    min-height: 60vh;
}

.penutup-text {
    color: #000;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.1rem;
    max-width: 500px;
    margin: 1rem auto;
}

.penutup-signature {
    color: #000;
    font-family: "Charm", cursive;
    font-size: 1.3rem;
}

.garis-emas-nama {
    margin: 1.5rem auto;
    width: 120px;
}

